body {
    background-color: #eee;
    margin: 0 auto;
    width: 100%;
}
.visually-hidden {
    position:absolute;
    left: -999px;
}
body:focus {
    outline: 5px solid #0A3641
}
a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}
.container {
    max-width: 1400px;
    margin: 0 auto; 
    width: 100%;   
    overflow: hidden; 
}
.header {
    height: 150px;
    border-top: 5px solid #0A3641;
    border-bottom: 1px solid #0A3641;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}
.header ul li {
    display:inline;
}
.header ul li a {
    font-size: 40px;
    color: #0A3641;
    margin: 0 40px 0 40px;
}
.profile {
 background-image: url('../images/shutterstock_2156278107 copy.jpg'); 
height: 400px;
background-size: cover;
}
.profile-box {
    box-sizing: border-box;
    float: left;
    position: relative;
    width: 33%;
    background-color: #eee;
    padding: 1rem;
    top: 4rem;
    left: 3rem;
}.profile-box h2 {
    font-size: 53px;
    color: #0A3641;
}
.profile-box a{
    background-color: #0A3641;
    border: none;
    color: #eee;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 20px;
}
.profile-box ul {
    list-style-type: none;
}
h1 {
    font-size: 64px;
    color:#0A3641;
    text-align: center;
}
h2 {
color: #0A3641;
font-size: 50px;
text-align: center;
}
.bs-img {
    justify-content: space-evenly;
    padding: 5rem;
}
.card {
    box-sizing: border-box;
    background-color: #fff;
}
.bs-img img {
    box-sizing: border-box;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px rgb(212, 212, 212);
}
.pf-txt {
    padding: 0px 66px;
    width: 650px;
    height: 90% !important;
    z-index: 99999;
    flex-direction: column;
    margin-right: -100px;
}
.pf-section p {
    margin-bottom: 35px;
}
.pf-section {
    gap: 100px;
    overflow: auto;
}
.pf-about {
    flex-direction: row-reverse;
}
.pf-about-img {
    float: left;
    position: relative;
}
.pf-about-box {
    box-sizing: border-box;  
    padding: 0px 66px;
    background-color:rgb(255, 255, 255);
    width: 650px;
    height: 90% !important;
    z-index: 99999;
    margin-left: -100px;
}
footer {
    background-color: #0A3641;
    color: #fff;
    min-height: 100px;
    margin-top: 70px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-align-center {
    display: flex;
    align-items: center;
}
.article {
    flex-direction: row-reverse;
    margin-top: 70px;
}
.article-left-box {
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    padding: 32px;
    z-index: 999;
    margin-left: 120px;
}
#kontaktskjema label {
    display: block;
}
#kontaktskjema input {
    height: 35px;
    width: 80%;
    margin: 5px 0;
}
#kontaktskjema .contact-button {
    max-height: 50px !important;
    height: 50px;
}
#kontaktskjema {
    font-size: 24px;
}
.txt-center {
    text-align:center;
}
.contact-button {
    display:block;
    min-width: 40% !important;
    text-align: center;
    background-color: #0A3641;
    border: none;
    color: #eee;
    text-decoration: none;
    border-radius: 20px;
    padding: 1rem;
    font-size: 18px;
    margin-bottom: 12px;
    max-height: 20px;
}
.contact-button:hover, .clothes-co a:hover {
    outline: 1px solid #0A3641;
    background-color: #fff;
    color: #000;
}

.clothes-profile {
    background-image: url('../images/IMG_2205.jpg');
    height: 600px; ;
    background-size: cover;
    color: #fff;
    justify-content: center;
    background-color: #000;
}
.clothes-item {
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
    background-color:#fff;
    width: 300px;
}
.clothes-item img {
    max-height: 250px;
}

.clothes-33 {
    flex-direction: column;
    margin-bottom: 5rem;
}
.clothes-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.clothes-co {
    width: 300px;
    justify-content: center;
}

.clothes-profile h1 {
    font-size: 100px;
    color: #fff;
}

.justify-center {
    justify-content: center;
}

.justify-spaceb {
    justify-content: space-between;
}

.bold33 {
    font-size: 33px;
    font-weight: 600;
}
.fs24 {
    font-size: 24px;
}
.pf-rjH h2 {
    text-align: start !important;
}
.pf-ec2 {
    justify-content: center;
    flex-direction: column;
    flex: 1;
}
.pf-ec3 {
    box-sizing: border-box;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    word-spacing: 500px;
    margin-top: 36px;
    flex: 1;
}
.pf-col2 h2 {
    font-size: 36px;
    text-align: start !important;
}
.pf-col2 p {
    font-size: 24px;
    align-items: center;
}
.pf-col1 img {
    box-sizing: border-box;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    width: 300px;
}
.column {
    flex-direction: column;
}

.p2 {
    padding: 2rem;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 1200px) {
    .profile-box {
        padding: 0rem;
    }
  }


@media only screen and (max-width: 1100px) {
    .pf-wrapper, .pf-flex-wrapper, .pf-about, .mycart2, .c-rev-mobile {
        flex-direction: column-reverse;
    }
    .pf-about-box {
        margin-left: 0;
    }
    .pf-txt {
        margin-right: 0px;
    }
    .header ul li a {
        font-size: 18px;
    }
    .bs-img img {
        width: 70%;
        max-height: 400px;
    }
    .bs-img {
        padding: 0;
        margin-bottom: 50px;
    }
    .profile-box h2 {
        font-size: 40px;
    }
    .profile-box a {
        font-size: 14px;
    }
    .clothes-wrapper {
        grid-template-columns: 1fr 1fr;
    }
    .article {
        flex-direction: column-reverse;
    }
    .article-left-box {
       margin-left: 0;
       width: 600px;
    }
  }

  @media only screen and (max-width: 850px)  {
    .header a img {
        width: 80px;
    }
    .header img.cart {
        width: 30px;
    }


    .pf-rj2, .mycart1{
        flex-direction: column;
    }
    .pf-txt {
        width: 100%;
    }
    .pf-about-box {
        margin-left: 0;
        width: 100%;
    }
    .pf-about-img {
        margin: 0;
    }
    .profile-box a {
        padding: 18px 12px;
        margin-right: 20px;
    }
    h1 {
        font-size: 32px;    
    }
  }
  @media only screen and (max-width: 680px) {
  .profile-box h2 {
    font-size: 20px;
  }
  .header {
    justify-content: center;
  }
  .header ul li a {
    font-size: 8px;
  }
  .profile-box a {
    font-size: 12px;
  }
  footer .col-2 a img {
    width: 20px;
  }
  .profile-box {
    display: flex;
    width: 100%;
    left: auto;
    justify-content: center;
    align-items: center;
    top: auto;
}
.mycart {
    max-width: 90%;
}
.pf-mycV img {
    max-width: 85%;
    padding: 10px !important;
}

.pf-mycH h2 {
    font-size: 24px;
}
.clothes-wrapper {
    grid-template-columns: 1fr;
}
.article-left-box {
    width: 100%;
}
.article-right img {
    max-width: 100%;
}
.c-mobile {
    flex-direction: column !important;
}
  }
  @media only screen and (max-width: 430px) {
    .pf-img img {
        max-width: 100%;
        height: auto;
    }
    .pf-about-img img {
        max-width: 100%;
        height: auto;
    }
  }